
.list-item-selected {
  background-color:#4b0336;
}
.list-item-selected span {
  color: white
}

.projects-list-container {
  height: 400px;
}

.list {
  color: black;
  border: 1px solid;
  height: 300px;
  padding-inline-start: 25px;
}

.list li {
  margin: 3px;
}

.left-pane {
  float:left;
  width:50%; 
  padding: 10px;
}

.right-pane {
  float:right;
  width:50%; 
  padding: 10px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/