<div class="projects-list-container">
  <!-- TODO(peleyal): The left and right lists should support scrolling -->
  <div class="left-pane">
    <h2>Projects</h2>
    <ul class="list">
      <li *ngFor="let project of projects" (click)="onSelectProject(project)"
        [ngClass]="{'list-item-selected': project === selectedProject}">
        <span>{{project.id}}</span>
      </li>
    </ul>
  </div>

  <div class="right-pane">
    <h2>Workflows</h2>
      <ul class="list">
        <div *ngIf="selectedProject">
          <li *ngFor="let workflow of selectedProject.workflows" (click)="onSelectWorkflow(workflow)"
            [ngClass]="{'list-item-selected': workflow === selectedWorkflow}">
            <span>{{workflow.id}}</span>
          </li>
        </div>
      </ul>
  </div>
</div>

<!--
  TODO(peleyal): Read about binding like disabled. -->
<div class="bottom-pane">
  <button [disabled]="!selectedProject">create</button>
  <button [disabled]="!selectedWorkflow">edit</button>
  <button [disabled]="!selectedWorkflow">view</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->