
.project-item-selected {
  background-color:blue;
}

.project-item-selected span {
  color: white
}

.projects {
  color: black;
  border: 1px solid;
  height: 200px;
  width: 300px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/