.details {
  padding: 10px;
}

body {
   font-family: 'Roboto', sans-serif;
}

.myDiagramDiv {
  background: whitesmoke;
  height: 250px;
  border: 1px solid black;
}

.myPaletteDiv {
  background: lightcyan;
  border: 1px solid navy;
  height: 250px;
}

.left {
  float: left;
  width: 20%;
  padding: 5px;
  margin: 5px;
}

.right {
  float: left;
  width: 70%;
  padding: 5px;
  margin: 5px;
}

.box {
  border: solid 1px black;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom {
  clear: both;
}