<div class=details>
  <h2>
  {{workflow.id}}
  </h2>
</div>


<div class="left">
  Palette
  <gojs-palette #myPalette [initPalette]='initPalette' [divClassName]='paletteDivClassName' [nodeDataArray]='paletteNodeData'
    [linkDataArray]='paletteLinkData' [modelData]='paletteModelData' (modelChange)='paletteModelChange($event)'></gojs-palette>
</div>

<div class="right">
  Diagram
  <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName' [modelData]='diagramModelData' [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div>

<div *ngIf="selectedNode">
  {{selectedNode.key}}
</div>



<!--<div class="left">
  <app-inspector [selectedNode]='selectedNode' (onFormChange)='handleInspectorChange($event)'></app-inspector>
</div>-->

<!--<div class="clear left box">
  <h3>Links in app data</h3>
  <ul>
    <li *ngFor="let ld of diagramLinkData">
      Link Key: {{ld.key}}, To: {{ld.to}}, From: {{ ld.from }}
    </li>
  </ul>
</div>

<div class="left box">
  <h3>Nodes in app data</h3>
  <ul>
    <li *ngFor="let nd of diagramNodeData">
      Node Key: {{nd.key}}, Color: {{nd.color}}
    </li>
  </ul>
</div>-->
